<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'site.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/css/splide.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>ArtyProd</title>
</head>

<body>

    {% block content %}

    <h1>Arty Prod</h1>
    <nav>
        <ul>
            <a href="#">
                <li>Home</li>
            </a>
            {% if not request.user.is_authenticated %}
            <a href="{% url "login" %}">
                <li>Login</li>
            </a>
            {% else %}
            <a href="{% url "logout" %}">
                <li>Logout</li>
            </a>
            {% endif %}
        </ul>
    </nav>
    <section class="services py-5 bg-light">
        <div class="container py-5">
            <h1 class="text-left pb-5">OurServices.</h1>

            <div class="section sec-1">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-lg-3">
                            <h2 class="heading">We create your cards</h2>
                            <p>Your most important data, visible at a glance. Stored in your smartphone with just one
                                click. No more business cards that get lost with tedious entries.</p>
                        </div>
                        <div class="col-lg-7 ms-auto">
                            <img src="{% static "images/DSC_0607.JPG" %}" alt="Image" class="img-fluid img-r">
                        </div>
                    </div>
                </div>
            </div>
            <div class="section sec-2">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-lg-6 mb-4 mb-lg-0">
                            <img src="{% static "images/DSC_0607.JPG" %}" alt="IMage" class="img-fluid">
                        </div>
                        <div class="col-lg-3 ms-auto">
                            <h2 class="heading">Unlimited connections</h2>
                            <p>With the digital and intelligent iDigix business card, you can very simply transmit your
                                information during your professional or personal meetings, without any limit on the
                                number of connections.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section class="services py-5 bg-light">
        <div class="container py-5">
            <h1 class="text-left pb-5">OurProjects.</h1>
            <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">

                {% for project in projects %}
                    {% if forloop.counter0|divisibleby:3 %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="row">
                    {% endif %}

                    <div class="col d-flex justify-content-center" style="margin-top:50px;">
                        <div class="card shadow-lg p-3 mb-5" style="width:18rem;height:430px;">
                        {% comment %} <a href="{% url 'question_answer' project.pk %}" class="text-decoration-none text-dark">
                            <img src="{% static 'images/q&a.png' %}" class="card-img-top" alt="..."> {% endcomment %}
                            <div class="card-body">
                            <h5 class="card-title h-1 questionText " style="text-overflow: ellipsis;text-align: center;" >{{ project.libellai }}</h5>
                            </div>
                        </a>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div>
                    </div>
                    {% endif %}
                {% endfor %}

                </div>
                <button class="carousel-control-prev" style="width:50px;" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" style="width:50px;" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    <section class="services py-5 bg-light">
        <div class="container py-5">
            <h1 class="text-left pb-5">OurTeam.</h1>

            <section class="team">
                <div class="team-content">
                    {% for teamMember in personnel %}
                        <div class="box">
                            <img src={{teamMember.cv.url}}>
                            <h3>{{teamMember.user.username|title}}</h3>
                            <h5>{{teamMember.cv}}</h5>
                            <div class="icons">
                                <a href="#"><i class="ri-twitter-fill"></i></a>
                                <a href="#"><i class="ri-facebook-box-fill"></i></a>
                                <a href="#"><i class="ri-instagram-fill"></i></a>
                            </div>
                        </div>
                    {% endfor %}

                </div>




        </div>
    </section>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    {% endblock content %}

</body>

</html>